@model cv_melon1.Models.CV

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => Model.fileText)
            </dt>

     </dl>

</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
