@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CV Uploader</h1>
    <p>Upload your XML format CV</p>
    
    

    @*@using (Html.BeginForm("Index",
        "Home",
        FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload file:</label>
        <input type="file" name="cv"/><br><br>
        <input type="submit" value="Upload CV" />
        <br><br>
        @ViewBag.Message
    }*@

</div>